/* GENERAL --------------------------------- */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Twisted";
  src: url("./assets/fonts/Strange-GDEG.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-family: "Prompt", sans-serif; */
  font-family: "Shadows Into Light", Arial, Helvetica, sans-serif;
  color: rgb(242, 219, 179);
  margin: 0;
}

/* HEADER & NAVBAR ----------------------------------- */
header {
  background: rgb(114, 43, 62);
  width: 100%;
  padding: 50px 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#nameDiv {
  display: flex;
}

#restaurantName {
  font-family: "Twisted", sans-serif;
  font-size: 60px;
  padding: 0;
}

#parrotLogo {
  height: 100px;
}

#navbar {
  display: flex;
}

#navbar a {
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s ease;
  padding: 5px 20px;
  color: rgb(242, 219, 179);
}

#navbar a:hover {
  /* transform: scale(1.1); */
  text-decoration: underline;
  text-underline-offset: 5px;
  /* border-bottom: 2px solid rgb(242, 219, 179); */
}

/* MAIN CONTENT ------------------------------------ */
main {
  height: 100%;
  width: 100%;
  background: url("./assets/images/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 50%;
  background: rgba(147, 89, 85, 0.735);
  border: 1px solid black;
  padding: 30px;
  margin: 50px;
  color: rgb(255, 242, 199);
  overflow: auto;
  height: 450px;
}

.content.home,
.content.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.heading {
  font-size: 32px;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.info p {
  /* padding: 0; */
  margin: 0;
}

/* HOME ----------------------------------- */

/* MENU ----------------------------------- */
.tile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.descriptionDiv {
  display: flex;
  justify-content: space-between;
}

.itemName {
}

.itemDescription {
  font-style: italic;
  font-size: 16px;
}

.itemPrice {
  font-size: 20px;
}

/* CONTACT -------------------------------- */
.innerDiv {
  /* display: flex;
  direction: row; */
}

.innerDiv h2 {
  margin: 0;
  font-size: 20px;
}
.innerDiv p {
  margin: 0;
}

.contactInfo {
  font-size: 16px;
}

.locationImg {
  height: 300px;
  border: 1px solid #333;
}

/* FOOTER --------------------------------- */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  padding: 10px 0;
  margin: 0;
  background: rgb(114, 43, 62);
  width: 100%;
}

footer a i {
  transition: 1s ease;
}

footer a i:hover {
  transform: rotate(360deg);
}
